.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
.env.vault
*.pem
Temporary Items
.apdisk
*.icloud
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
**/.terraform
**/.terraform.lock.hcl
**/xtcross-scheduletask-layer.zip
**/nodejs
id_rsa
builds
**/node_modules
.env*
.flaskenv*
!.env.project
!.env.vault